#logo {
    border-radius: 50%; /* https://www.w3schools.com/css/css3_images.asp */
    height: 75px;
    width: auto;
    background-color: whitesmoke;
}

#main-title {
    font-style: bold, italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: White;
    font-size: 100%;
}

#title-stuff {
    background-color: #860903;
    display: flex;
    align-items: center; /* Vertically centers items */
    gap: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

.title-text {
    flex: 1;
    font-size: 2.5rem;
}

/*This can probably be deleted since I changed how some stuff was set up 
and got rid of the /a/ tag*/
#title-stuff, a {
    text-decoration: none;
}

.nav-bar {
    display: flex; /* Flexbox for a horizontal layout */
    justify-content: flex-start; /* Center items */
    margin-left: 20px;
    align-items: center;
    list-style: none;
}

.navbar-item {
    text-decoration: none; /* Remove underline */
    background-color: #FFFF;
    color: black; /* White text */
    font-size: 1.2rem; /* Larger text */
    padding: 15px 25px; /* Adequate padding for each link */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#current-page {
    background-color:#b8b9bb;
}

.navbar-item:hover {
    background-color: #b8b9bb; 
}

header {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

hr{
    background-color: black;
    height: 2px;
    border: none;
    margin-top: 0;
    padding-top: 0px;
}       

#footer {
    background-color: #860903;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}

#footer-link:hover {
    text-decoration: underline;
    color: white;
}

#footer-link {
    text-decoration: underline;
    color: white;
}

main {
    padding: 0.25% 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h2 {
    text-align: center;
    font-size: 2rem;
}

main h4 {
    font-size: 1.5rem;
    text-align: center;
}

.current-business {
    background-color: #ffde59;
    border-radius: 30px;
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 35%;   
    margin-right: 35%;
}

#circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: flex; 
    align-items: center;
}

#graph {
    flex: 2;
}

#hours {
    flex: 1;
    text-align: center;
}

#hours h4 {
    text-decoration: underline;
}

#flex-container {
    display: flex;
}