#logo {
    border-radius: 50%; /* https://www.w3schools.com/css/css3_images.asp */
    height: 75px;
    width: auto;
    background-color: whitesmoke;
}

#main-title {
    font-style: bold, italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: White;
    font-size: 100%;
}

#title-stuff {
    background-color: #860903;
    display: flex;
    align-items: center; /* Vertically centers items */
    gap: 10px;
    padding-left: 1%;
    padding-right: 1%;
}

.title-text {
    flex: 1;
    font-size: 2.5rem;  
}

/*This can probably be deleted since I changed how some stuff was set up 
and got rid of the /a/ tag*/
#title-stuff, a {
    text-decoration: none;
}

.nav-bar {
    display: flex; /* Flexbox for a horizontal layout */
    justify-content: flex-start; /* Center items */
    margin-left: 20px;
    align-items: center;
    list-style: none;
}

.navbar-item {
    text-decoration: none; /* Remove underline */
    background-color: #FFFF;
    color: black; /* White text */
    font-size: 1.2rem; /* Larger text */
    padding: 15px 25px; /* Adequate padding for each link */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#current-page {
    background-color:#b8b9bb;
}

.navbar-item:hover {
    background-color: #b8b9bb; 
}

header {
    border-bottom-style: solid;
    border-bottom-width: thin;
}

hr{
    background-color: black;
    height: 2px;
    border: none;
    margin-top: 0;
    padding-top: 0px;
}       

#footer {
    background-color: #860903;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}

#footer-link:hover {
    text-decoration: underline;
    color: white;
}

#footer-link {
    text-decoration: underline;
    color: white;
}

main {
    padding: 0.25% 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h2 {
    text-align: center;
    font-size: 2rem;
}

main h4 {
    font-size: 1.5rem;
    text-align: center;
}

.current-business {
    background-color: #ffde59;
    border-radius: 30px;
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 35%;   
    margin-right: 35%;
}

#circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: flex; 
    align-items: center;
}

#graph {
    flex: 2;
}

#hours {
    flex: 1;
    text-align: center;
}

#hours h4 {
    text-decoration: underline;
}

#flex-container {
    display: flex;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}